workflows/MKT-302.json
{
  "name": "MKT-302 AI Lead Qualification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mkt-302",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  if (!item.json.leadId) {\n    throw new Error('Missing required field: leadId');\n  }\n}\nreturn items;"
      },
      "id": "validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://mkt-api:4000/api/internal/leads/score/{{ $json.leadId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.MKT_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "score-lead",
      "name": "AI Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data?.temperature }}",
              "value2": "hot"
            }
          ]
        }
      },
      "id": "check-hot",
      "name": "Is Hot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://mkt-api:4000/api/internal/leads/book/{{ $json.data?.leadId || $json.leadId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.MKT_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "book-meeting",
      "name": "Auto-Book Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mkt-api:4000/api/internal/nurturing/enroll",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.MKT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ leadId: $json.data?.leadId || $json.leadId, sequenceType: $json.data?.temperature || 'warm' }) }}",
        "options": {}
      },
      "id": "enroll-nurturing",
      "name": "Enroll in Nurturing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 400]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mkt-api:4000/api/webhooks/n8n-error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.MKT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow: 'MKT-302', error: $json.execution?.error?.message || 'Unknown error', executionId: $json.execution?.id }) }}",
        "options": {}
      },
      "id": "report-error",
      "name": "Report Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 600]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Validate Input", "type": "main", "index": 0 }]
      ]
    },
    "Validate Input": {
      "main": [
        [{ "node": "AI Score Lead", "type": "main", "index": 0 }]
      ]
    },
    "AI Score Lead": {
      "main": [
        [{ "node": "Is Hot?", "type": "main", "index": 0 }]
      ]
    },
    "Is Hot?": {
      "main": [
        [{ "node": "Auto-Book Meeting", "type": "main", "index": 0 }],
        [{ "node": "Enroll in Nurturing", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [
        [{ "node": "Report Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "opportunity-hunter" }
  ]
}
