workflows/MKT-101.json
{
  "name": "MKT-101 Content Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mkt-101",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  if (!item.json.inputId) {\n    throw new Error('Missing required field: inputId');\n  }\n}\nreturn items;"
      },
      "id": "validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://mkt-api:4000/api/internal/content/research/{{ $json.inputId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.MKT_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "research",
      "name": "Research Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://mkt-api:4000/api/internal/content/generate/{{ $json.inputId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.MKT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"platform\": \"linkedin\", \"tone\": \"expert\" }",
        "options": {}
      },
      "id": "generate",
      "name": "Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mkt-api:4000/api/webhooks/n8n-error",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.MKT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow: 'MKT-101', error: $json.execution?.error?.message || 'Unknown error', executionId: $json.execution?.id }) }}",
        "options": {}
      },
      "id": "report-error",
      "name": "Report Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 600]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Validate Input", "type": "main", "index": 0 }]
      ]
    },
    "Validate Input": {
      "main": [
        [{ "node": "Research Content", "type": "main", "index": 0 }]
      ]
    },
    "Research Content": {
      "main": [
        [{ "node": "Generate Content", "type": "main", "index": 0 }]
      ]
    },
    "Error Trigger": {
      "main": [
        [{ "node": "Report Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "content-flywheel" }
  ]
}
